.attribution {
    text-align: center;
    font-size: 0.8em;
}
.attribution a {
    color: hsl(228, 45%, 44%);
    font-size: 0.8em;
    margin-left: 5px;
}
.wrapper {
    margin: auto;
    width: min(100% - 1em, 65ch);
    background-color: #fff;
    padding: 2em;
    border-radius: 15px;
}
.header {
    align-items: center;
    padding: 0.3em 0;
    font-size: 48px;
    font-weight: 700;
    display: flex;
    gap: 0.5em;
}
.show-btn {
    border: transparent;
    background-color: transparent;
}
.block-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.block {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.line {
    margin: 1em 0;
    height: 1px;
    width: 100%;
    background-color: hsl(275, 100%, 97%);
}
.line:last-child {
    height: 0px;
}
p {
    color: hsl(292, 16%, 49%);
}
.open {
    transition: max-height 0.4s ease, opacity 0.4s ease, margin 0.3s ease;
}
.text-area {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: all 0.4s ease;
    margin-top: 0;
}
.text-area.open {
    max-height: 300px;
    opacity: 1;
    margin-top: 12px;
}